#guesses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    position: relative;
    height: var(--page-height);
    width: 300px;
    /*background-color: var(--input-background-color);*/

    bottom: var(--page-height);
    left: calc(var(--page-width) + 20px);
    text-align: left;
}

.guesses-content {
    flex-grow: 1;
}

.guesses-content div {
    margin-left: 10px;
}

.guesses-content h3 {
    margin: 0px auto auto 10px;
}

#guesses footer {
    margin: 0px auto auto 10px;
    width: 100%;
}

#guess-dash {
    padding: 5px;
}

.hint.show {
    padding-left: 5px;
    color: lightslategray;
    font-weight: lighter;
}

#game-state-div.lose,
#guess-release-year.incorrect,
#guess-issue.incorrect {
    color: lightcoral;
    font-weight: bold;
    font-size: 1.3em;
}

#game-state-div.win,
#guess-release-year.correct,
#guess-issue.correct {
    font-weight: bold;
    color: greenyellow;
    font-size: 1.3em;
}
